
.dot-animation {
    display: inline-block;
    position: absolute;
}

.dot-animation::before {
    content: "";
    animation: dotAnimation 2s steps(3) infinite;
}

@keyframes dotAnimation {
    0%, 100% {
        content: ".";
    }
    33% {
        content: "..";
    }
    66% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.dot{
    position: relative;
}

.text-container {
    display: flex;
    align-items: center; /* Vertically center the text and dot */
}

